
body {
    margin-left: 20px;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #FF6060;
    align-items: center;

}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin-right: 10px;

}

nav ul li a {
    text-decoration: none;
    color: #FF6060;
}

.banner {
    width: 100%;
    margin-bottom: 20px;
}

.img_banner {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.titre {
    position: absolute;
    top: 200px;
    left: 35%;
    color: white;
    font-size: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    background: #F7F7F7;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    padding-right: 1%;
}

.cards a {
    width: 30%;
    height: 300px;
    margin-left: 2%;
    margin-top: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    text-decoration: none;
}

.card_img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
}

.titre_card {
    position: relative;
    left: 1%;
    bottom: 70px;
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}

.location_title {
    display: flex;
    justify-content: space-between;
    color: #FF6060;
    align-items: center;
}

.title {
    font-size: 30px;
}

.location {
    margin-top: -30px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.user_img {
    border-radius: 50%;
    height: 70px;
    margin-left: 10px;
}

.tag-stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags {
    display: flex;
}

.tag {
    background: #FF6060;
    color: white;

    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
}

.fa-solid {
    margin-right: 5px;
    font-size: 30px;
    color: #E3E3E3;
}

.blue {
    color: #FF6060;
}

.elements {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.element {
    width: 80%;
    margin-right: 1%;
    margin-left: 10%;
    margin-bottom: 50px;
}

.element_title {
    background: #FF6060;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    padding: 10px;

}

.element-content {
    background: #F7F7F7;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 10px;
    color: #FF6060;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.element_equipement {
    margin-top: -10px;
}

.fa-chevron-left {
    position: relative;
    bottom: 170px;
    color: #FFFFFF;
    left: 2%;
    font-size: 40px;
}

.fa-chevron-right {
    position: relative;
    bottom: 170px;
    color: #FFFFFF;
    left: 93%;
    font-size: 40px;
}
.taille{
    position: relative;
    bottom: 50px;
    left: 40%;
    color: white;
    font-weight: bold;
}
.container{
    text-align: center;
}
.error-msg{

    font-size: 100px;
    color: #FF6060;
    font-weight: bold;
}
@media only screen and(min-width: 768px) {
    .cards {
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
    }

    .card {
        width: 100%;
    }
}